SLACK_BOT_TOKEN=your_slack_bot_token
SLACK_CHANNEL_ID=your_slack_channel_id

INPUT_FOLDER=your_input_folder_path
JPG_OUTPUT_FOLDER=your_jpg_output_folder_path
GREYSCALE_FOLDER=your_greyscale_folder_path
CROPPED_FOLDER=your_cropped_folder_path
CLEANED_FOLDER_PATH=your_cleaned_folder_path
ANNOTATION_FOLDER=your_annotation_folder_path
CLEANED_2=your_cleaned_2_path
POSTPROCESS_OUT_FOLDER=your_postprocess_output_folder_path
CANDIDATE_WORDS_PATH=your_candidate_words_path
PREPROCESSED_CSV_PATH=your_preprocessed_csv_path
POSTPROCESSED_CSV_PATH=your_postprocessed_csv_path
SUMMARY_PREPROC_PATH=your_preprocessed_summary_path
SUMMARY_POSTPROC_PATH=your_postprocessed_summary_path
EXCLUDE_WORDS_PATH=your_exclude_words_path
PB_COUNT_CSV_PATH=your_pb_count_csv_path
FOLDER_TO_WATCH=your_folder_to_watch
ICON_PATH=your_icon_path